{
	"Human": {
		"HumanClass1": {
			// class behaviour, values will not be inherited from base class
			"enabled": true,
			"team_default": true,
			
			// player behaviour
			// all player attributes are required if it doesn't have a base class
			"health": 100,
			"models": [
				// base class model entries can omit color (defaults to "255 255 255") and skins (defaults to [0])
				{
					"modelname": "characters/models/ctm_fbi/ctm_fbi.vmdl",
					"color": "255 255 255",
					"skins": [ // either int or array of ints work
						0
					]
				}
			],
			"scale": 1.0,
			"speed": 1.0,
			"gravity": 1.0,
			"admin_flag": "" // allowed for all players
		},
		"HumanClass2": {
			"enabled": true,
			"team_default": true,
			"base": "HumanClass1", // optional. missing keys will be inherited from base class
			"models": [ // model entry keys will override base class model entry keys only if both have 1 model entry
				{
					"modelname": "characters/models/ctm_sas/ctm_sas.vmdl"
				}
			],
			"admin_flag": "b" // Only enabled in !zclass for ADMFLAG_GENERIC
		},
		"HumanClass3": {
			"enabled": false,
			"team_default": false,
			"base": "HumanClass1",
			"models": [ // if base or child class have more than 2 model entries, all keys have to be defined and will override base model entries
				// model entry applied to the player will be picked randomly
				{
					"modelname": "characters/models/s2ze/isaac_clarke/isaac_clarke.vmdl", // A custom model which will be automatically precached, must be loaded onto server/client by some means (e.g. MultiAddonManager)
					"color": "255 255 255",
					"skins": [
						0, 1, 4 // picking skins out of 5 [0-4] available in S2ZE Isaac Clarke model to be applied to the player randomly
					]
				},
				{
					"modelname": "characters/models/s2ze/isaac_clarke/isaac_clarke.vmdl",
					"color": "50 50 255",
					"skins": 3
				}
			]
		}
	},
	"Zombie": {
		"ZombieClass1": {
			"enabled": true,
			"team_default": true,
			"health": 10000,
			"models": [
				{
					"modelname": "characters/models/tm_jumpsuit/tm_jumpsuit_varianta.vmdl",
					"color": "255 150 150",
					"skins": [
						0
					]
				}
			],
			"scale": 1.05,
			"speed": 1.0,
			"gravity": 1.0,
			"knockback": 1.0,
			"admin_flag": "",
			"health_regen_count": 250,
			"health_regen_interval": 5.0
		},
		// special class that the first batch of zombie will be assigned to
		"MotherZombie": {
			"enabled": true,
			"team_default": false,
			"health": 40000,
			"models": [
				{
					"modelname": "characters/models/tm_phoenix_heavy/tm_phoenix_heavy.vmdl",
					"color": "255 100 100",
					"skins": [
						0
					]
				}
			],
			"scale": 1.15,
			"speed": 1.0,
			"gravity": 1.0,
			"admin_flag": "",
			"health_regen_count": 500,
			"health_regen_interval": 5.0
		}
	}
}
