//---------------------
// Permission flags
//---------------------
// a : Reserved slots
// b : Generic admin, required for admins
// c : Kick other players
// d : Banning other players
// e : Removing bans
// f : Slaying other players
// g : Changing the map
// h : Changing cvars
// i : Changing configs
// j : Special chat privileges
// k : Voting
// l : Password the server
// m : Remote console
// n : Change sv_cheats and related commands
// z : Root. It grants ALL flags so use with caution!

// Flags 'o' to 'y' are custom flags (currently unused)

// cs2f_admin_immunity 'convar' controls how targetting works with "immunity" KV
//	0 - Commands using immunity targetting can only target players with immunities LOWER than the user's
//	1 - Commands using immunity targetting can only target players with immunities EQUAL TO OR LOWER than the user's
//	2 - Commands ignore immunity levels

Admins
{
	// Admin entries should follow this format
	
	//"name" // Unused, can be anything
	//{
	//	"steamid" "1234567890" // SteamID64
	//	"flags" "abcdefg" // Permission flags as described above
	//	"immunity" "1" // Non-negative value.
	//}
}