"Models"
{
        "de_dust2"
        {
                "Ground2"
                {
                        "posx"          "283.603516"
                        "posz"          "2170.902344"
                        "posy"          "-128.187103"
                        "angx"          "0.000000"
                        "angz"          "0.000000"
                        "angy"          "0.000000"
                }
                "Ground"
                {
                        "posx"          "-652.818176"
                        "posz"          "-828.624817"
                        "posy"          "116.789200"
                        "angx"          "0.000000"
                        "angz"          "0.000000"
                        "angy"          "0.000000"
                }
        }
        "de_inferno"
        {
                "Ground"
                {
                        "posx"          "-1541.188965"
                        "posz"          "296.904724"
                        "posy"          "-65.647560"
                        "angx"          "0.000000"
                        "angz"          "0.000000"
                        "angy"          "0.000000"
                }
                "Ground2"
                {
                        "posx"          "2345.946289"
                        "posz"          "2077.333740"
                        "posy"          "126.622597"
                        "angx"          "0.000000"
                        "angz"          "0.000000"
                        "angy"          "0.000000"
                }
        }
        "de_cache"
        {
                "Ground"
                {
                        "posx"          "2450.746338"
                        "posz"          "-156.605698"
                        "posy"          "1612.904663"
                        "angx"          "0.000000"
                        "angz"          "0.000000"
                        "angy"          "0.000000"
                }
                "Ground2"
                {
                        "posx"          "-1498.741"
                        "posz"          "200.04635"
                        "posy"          "1613.1303"
                        "angx"          "0.000000"
                        "angz"          "0.000000"
                        "angy"          "0.000000"
                }
        }
}
